[defaults]
inventory        = inventory.ini
remote_user      = ubuntu
private_key_file = ~/Downloads/newkey-pair.pem
host_key_checking = False
roles_path       = roles
retry_files_enabled = False

[privilege_escalation]
become        = True
become_method = sudo